body {
    background-color: white;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
    color: black;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
  }
  